<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <runtime>
    <loadFromRemoteSources enabled="true" />
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Data.v20.1" publicKeyToken="b88d1754d700e49a" />
        <codeBase version="20.1.7.0" href="Components\DevExpress\20.1.7.0\DevExpress.Data.v20.1.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Images.v20.1" publicKeyToken="b88d1754d700e49a" />
        <codeBase version="20.1.7.0" href="Components\DevExpress\20.1.7.0\DevExpress.Images.v20.1.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Data.Desktop.v20.1" publicKeyToken="b88d1754d700e49a" />
        <codeBase version="20.1.7.0" href="Components\DevExpress\20.1.7.0\DevExpress.Data.Desktop.v20.1.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Office.v20.1.Core" publicKeyToken="b88d1754d700e49a" />
        <codeBase version="20.1.7.0" href="Components\DevExpress\20.1.7.0\DevExpress.Office.v20.1.Core.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.XtraRichEdit.v20.1" publicKeyToken="b88d1754d700e49a" />
        <codeBase version="20.1.7.0" href="Components\DevExpress\20.1.7.0\DevExpress.XtraRichEdit.v20.1.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.RichEdit.v20.1.Core" publicKeyToken="b88d1754d700e49a" />
        <codeBase version="20.1.7.0" href="Components\DevExpress\20.1.7.0\DevExpress.RichEdit.v20.1.Core.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Utils.v20.1" publicKeyToken="b88d1754d700e49a" />
        <codeBase version="20.1.7.0" href="Components\DevExpress\20.1.7.0\DevExpress.Utils.v20.1.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.XtraEditors.v20.1" publicKeyToken="b88d1754d700e49a" />
        <codeBase version="20.1.7.0" href="Components\DevExpress\20.1.7.0\DevExpress.XtraEditors.v20.1.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.XtraGrid.v20.1" publicKeyToken="b88d1754d700e49a" />
        <codeBase version="20.1.7.0" href="Components\DevExpress\20.1.7.0\DevExpress.XtraGrid.v20.1.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Printing.v20.1.Core" publicKeyToken="b88d1754d700e49a" />
        <codeBase version="20.1.7.0" href="Components\DevExpress\20.1.7.0\DevExpress.Printing.v20.1.Core.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.XtraPrinting.v20.1" publicKeyToken="b88d1754d700e49a" />
        <codeBase version="20.1.7.0" href="Components\DevExpress\20.1.7.0\DevExpress.XtraPrinting.v20.1.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.XtraLayout.v20.1" publicKeyToken="b88d1754d700e49a" />
        <codeBase version="20.1.7.0" href="Components\DevExpress\20.1.7.0\DevExpress.XtraLayout.v20.1.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.XtraTreeList.v20.1" publicKeyToken="b88d1754d700e49a" />
        <codeBase version="20.1.7.0" href="Components\DevExpress\20.1.7.0\DevExpress.XtraTreeList.v20.1.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.XtraBars.v20.1" publicKeyToken="b88d1754d700e49a" />
        <codeBase version="20.1.7.0" href="Components\DevExpress\20.1.7.0\DevExpress.XtraBars.v20.1.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Vector.CommonUtilities" publicKeyToken="b273882a063429a6" />
        <codeBase version="1.4.0.0" href="Components\Vector.CommonUtilities\1.4.0.0\Vector.CommonUtilities.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Vector.HelpAccess" publicKeyToken="b273882a063429a6" />
        <codeBase version="1.2.0.0" href="Components\Vector.HelpAccess\1.2.0.0\Vector.HelpAccess.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Vector.HelpAccess.resources" publicKeyToken="b273882a063429a6" culture="de" />
        <codeBase version="1.2.0.0" href="Components\Vector.HelpAccess\1.2.0.0\de\Vector.HelpAccess.resources.dll" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>